<div id="sidebar">
    <div id="secitons-menu" class="mb-3">
        <ul id="side-menu-list">
            <li class="side-menu-element"><a href="#">Solicitantes de medicamentos</a></li>
            <li class="side-menu-element"><a href="#">Solicitantes de sangre</a></li>

        </ul>

    </div>
    <div>
        <div id="site-links" class="mb-3">
            <ul id="side-menu-list">
                <li class="side-menu-element"><a href="#">Acerca de U Help</a></li>
                <li class="side-menu-element"><a href="#">Aviso legal</a></li>
            </ul>
        </div>
        <div id="user-menu">
            <ul id="side-menu-list">
                <li class="side-menu-element"><a href="#">Mi cuenta</a></li>
            </ul>
        </div>
    </div>
</div>