<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U help</title>
    <%- include('components/assets.html') -%>
</head>
<body>
    <%- include('components/header.html') -%>
    <div id="main">
        <%- include('components/sidebar.html') -%>
        <div id="content" class="home">
            <div id="welcome" class="mb-2">
                <h1>
                    Solicitantes de sangre
                </h1>
            </div>
            
            <div id="intro">
               
                
            </div>

        </div>
    </div>

</body>
</html>