<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U help</title>
    <%- include('components/assets.html') -%>
</head>
<body>
    <%- include('components/header.html') -%>
    <div id="main">
        <%- include('components/sidebar.html') -%>
        <div id="content" class="home">
            <div id="welcome" class="mb-2">
                <h1 class="h2 text-center">
                    ¡Bienvenido a U Help!
                </h1>
            </div>
            
            <div id="intro">
                <h3>¿Que es U Help?</h3>
                <p class="mb-2">
                    U Help es una plataforma que tiene un solo prosito, ayudar. Aqui podras publicar la ayuda medica que necesites 
                    de la sociedad como donantes de sangre o medicamentos de forma que otros usuarios puedan ayudarte.
                </p>
                <div class="alert">
                    <h6>Importante</h6>
                    <p class="mb-0">
                        No te preocupes, <b>no expondremos informacion que no quieras</b> 
                     pero puedes leer mas sobre esto en <a href="/faq">este enlance</a>.
                    </p>
                </div>
                
            </div>

        </div>
    </div>

</body>
</html>